<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.prac.board.mapper.BoardMapper">
 	<select id="viewAll" resultType="com.prac.board.vo.BoardVO">
  		SELECT * FROM BOARD ORDER BY SEQ DESC
  	</select>
  	
  	<select id="viewDetail" resultType="com.prac.board.vo.BoardVO" parameterType="int">
  		SELECT * FROM BOARD WHERE SEQ = #{seq}
  	</select>
  	
  	<update id="plusCnt" parameterType="int">
  		UPDATE BOARD SET CNT = CNT + 1 WHERE SEQ = #{seq}
  	</update>
  	
  	<insert id="insertBoard" parameterType="com.prac.board.vo.BoardVO">
		<!-- <selectKey keyProperty="seq" order="BEFORE" resultType="int">
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey> -->
		INSERT INTO BOARD (seq, writer, title, content)
					VALUES (Board_SEQ.NextVal, #{writer}, #{title}, #{content})
	</insert>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD WHERE SEQ = #{seq}
	</delete>
	
	<update id="updateBoard" parameterType="com.prac.board.vo.BoardVO">
		UPDATE BOARD SET TITLE = #{title}, CONTENT = #{content} WHERE SEQ = #{seq}
	</update>
  	
 </mapper>